@inherits BaseComponent<LessonEditor>

@if (lessonFailedToLoad)
{
    <div class="d-flex flex-row justify-content-center">
        <p>@failureMessage</p>
    </div>
}
else
{
    <div class="container-fluid p-0 m-0">
        <EditForm EditContext="@editContext">
            <div class="d-flex flex-column">
                
                <!-- Save Button -->
                <div class="d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" onclick="@(async () => await TrySaveFormModelAsync())">
                        @($"{(lesson.Id == Guid.Empty ? "Create Lesson" : "Save Lesson")}")
                    </button>
                </div>
                
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 form-group">
                                <label for="lessonTitle" class="form-label">Lesson Title</label>
                                <input class="form-control" type="text" id="lessonTitle" @bind-value="@lesson.Name" />
                            </div>
                            <div class="col-12 form-group">
                                <label for="lessonDescription" class="form-label">Lesson Description</label>
                                <textarea class="form-control" type="text" id="lessonDescription"
                                          @bind-value="@lesson.Description" 
                                          @bind-value:event="oninput" />
                            </div>
                        </div>    
                    </div>
                </div>

                <div class="d-flex flex-column">
                    @for (int i = 0; i < lesson.Sections.Count; i++)
                    {
                        <div class="card mt-2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="@($"secTitle-{i}")" class="form-label">Section Title</label>
                                        <input id="@($"secTitle-{i}")" type="text" class="form-control"
                                               @bind-value="@lesson.Sections[i].Title" />
                                    </div>

                                    <div class="col-12 form-group">
                                        <label for="@($"secContent-{i}")" class="form-label">Section Content</label>
                                        <input id="@($"secContent-{i}")" type="text" class="form-control"
                                               @bind-value="@lesson.Sections[i].Content" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="d-flex flex-row justify-content-end">
                    <button class="btn btn-primary" onclick="@(() => AddSection())">
                        Add Section
                    </button>
                </div>
            </div>
        </EditForm>
    </div>
}